[Unit]
Description=Mount unit for hunspell-dictionaries-1-7-2004, revision 2
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/hunspell-dictionaries-1-7-2004_2.snap
Where=/snap/hunspell-dictionaries-1-7-2004/2
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
